body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}
.error-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-icon {
    font-size: 50px;
    color: #ffcc00;
}
.btn {
    margin: 10px;
}
.svgM{
    --tw-text-opacity: 1;
   
color: rgb(234 179 8 / var(--tw-text-opacity));
}
