.dpa {
    display: flex;
    align-items: center;
    gap: 8px; /* Reduced gap for a tighter layout */
}

body {
    font-family: "Arial", sans-serif;
}

.sidebar {
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
    font-size: 16px;
}

.sidebar-heading {
    font-size: 1.5rem;
    color: #333;
}

.card {
    border-radius: 10px;
    border: none;
}

.card .form-control {
    border-radius: 20px;
}

.table th {
    font-weight: 600;
}

.table td,
.table th {
    vertical-align: middle;
}

.badge {
    font-size: 14px;
    padding: 5px 10px;
}

.table .btn {
    font-size: 12px;
    padding: 5px 10px;
}

.custom-dropdown {
    display: inline-block;
    width: 120px; /* Set a fixed width for the dropdown */
}

.custom-dropdown .form-select {
    width: 100%; /* Make the select fill the container */
    padding: 5px; /* Adjust padding if needed */
}
