<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link rel="shortcut icon" href="logo.png" />

  <meta name="author" content="CodePixar" />

  <meta name="description" content="" />

  <meta name="keywords" content="" />

  <meta charset="UTF-8" />


    <title>Reset Password - ST Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="stylesheet" href="/css/linearicons.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/nouislider.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Google Sign-In JS -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <!-- Start Header Area -->
    <%- include('partials/header') %>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Reset password</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/forgot-password">Forgot Password</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3 class="text-center">Reset Password</h3>
                        <form class="row login_form" id="resetPasswordForm">
                            <div class="col-md-12 form-group">
                                <input type="hidden" id="token" value="<%= token %>">
                                <label for="newPassword">New Password:</label>
                                <input type="text" class="form-control" id="newPassword" placeholder="Enter New Password" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="confirmPassword">Confirm Password:</label>
                                <input type="text" class="form-control" id="confirmPassword" placeholder="Confirm New Password" required />
                            </div>
                            
                            <div class="col-md-12 form-group text-center">
                                <button type="submit" class="primary-btn">Rest password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
    <!-- End footer Area -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

   <script>
    document.getElementById('resetPasswordForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const token = document.getElementById('token').value;
    if (newPassword.length < 8) {
        showToast("Password must be at least 8 characters long");
        return;
    }
    if (!/[!@#$%^&*(),.?":{}|<>]/.test(newPassword)) {
    showToast("Password must contain at least one special character");
    return false;
   }
    if (newPassword !== confirmPassword) {
        showToast("Passwords do not match");
        return;
    }

    try {
        const { isConfirmed } = await Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to reset your password!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Reset it!',
            cancelButtonText: 'Cancel'
        });

        if (isConfirmed) {
            const response = await axios.post('/reset-password', {
                token: token,
                newPassword: newPassword
            });

            if (response.data.ok) {
                showToast(response.data.msg);
                setTimeout(() => {
                    window.location.href = response.data.red;
                }, 1000);
            } else {
                showToast(response.data.msg);
            }
        }
    } catch (error) {
        if (error.response) {
            showToast(error.response.data.msg || 'An error occurred while resetting your password.');
        } else {
            showToast('An error occurred. Please try again.');
        }
    }
});

function showToast(message) {
    Toastify({
        text: message,
        duration: 2000,
        gravity: "top",
        position: "right",
        style: {
            background: "#333",
        },
        stopOnFocus: true,
    }).showToast();
}

   </script>
    
  
</body>
</html>
