<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="shortcut icon" href="logo.png" />

    <meta name="author" content="CodePixar" />

    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <meta charset="UTF-8" />

    <title>ST Shop</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      window.onload = function () {
        Swal.fire({
          title: "Please log in",
          text: "Would you like to log in to continue or browse without logging in?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Log In",
          cancelButtonText: "Continue Browsing",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "/login";
          } else {
            window.location.href = "/";
          }
        });
      };
    </script>
  </body>
</html>
